<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes réservations</title>
</head>
<body>
<div th:insert="header.html"/>

<div class="container">

    <h1>Liste des livres</h1>


    <div class="cstyle">
        <table class="table listTableDeco">
            <thead>
            <tr>
                <th>Titre :</th>
                <th>Nom de l'Auteur</th>
                <th>Prochaine disponibilité</th>
                <th>Position dans la file</th>
                <th>Annuler ma réservation</th>
            </tr>
            </thead>

            <tbody>

            <th:text th:each="livre : ${livresAvecUnSeulExemplaire}">

                <tr>

                    <td th:text="${livre.titre}"></td>
                    <td th:text="${livre.auteur}"></td>

                    <th:text th:each="exemplaire : ${livre.exemplaireList}">

                        <td th:if="${exemplaire.getProchaineDispo() != null }"
                            th:text="${exemplaire.getProchaineDispo()}"></td>

                    </th:text>

                    <td th:if="${livre.exemplaireList.size() == 0}">Aucune disponibilité pour l'instant
                    </td>
                    <td th:text="${livre.getPositionFile()}"></td>

                    <td>
                        <a th:href="@{/annuler-reservation/{livreId}/{utilisateurId}(livreId=${livre.id},utilisateurId=${utilisateurId})}"
                           class="btn btn-success">Annuler</a>
                    </td>

                </tr>
            </th:text>

            </tbody>

        </table>

    </div>

    <!--//TODO a modifier-->
    <div th:if="${livresAvecUnSeulExemplaire.isEmpty()}">
        <p>Vous n'avez aucune réservation de livre en cours.</p>
    </div>
</div>

</div>
</body>
</html>