<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Livre</title>
</head>
<body>
<div th:insert="header.html"/>
<h1 class="text-center">Détails du livre <p th:text="${livre.titre}"/></h1>
<div class="cstyle">
    <table class="table listTableDeco">
        <thead>
        <tr>
            <th>Titre :</th>
            <th>Nom de l'Auteur</th>
            <th>Nombre d'exemplaire disponible</th>
            <th>Prochaine disponibilité</th>
            <th>Me prévenir par mail</th>
        </tr>
        </thead>

        <tbody>
        <tr th:href="@{/details-livre/{id}(id=${livre.id})}" th:each="livre, livrStat : ${livre}">
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.auteur}"></td>
            <td th:text="${nbExemplaires}"></td>
            <td th:text="${exemplaireBean.prochaineDispo}"></td>
            <td th:if="${nbExemplaires == 0}"><a th:href="@{/reserver/{id}(id=${livre.id})}"
                                                 class="btn btn-success">M'avertir par mail</a></td>
<!--TODO ajout condition que l'utilisateur qui reserve n'ai pas deja une reservation sur le mem ouvreage en cours-->
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>

</html>